* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

@font-face {
    font-family: "manrope-regular";
    src: url(fonts/Manrope/static/Manrope-Regular.ttf);
}

@font-face {
    font-family: "manrope-bold";
    src: url(fonts/Manrope/static/Manrope-Bold.ttf);
}


.bold-text {
    font-family: manrope-bold;
}

.regular-text {
    font-family: manrope-regular;
    color: var(--DesaturatedDarkBlue)
}


body {
    background: var(--LightGrayishBlue);
    display: grid;
    place-items: center;
    padding: 100px 30px;
}

#drawers-image {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
}

.rounded-top-borders {
    border-radius: 12px 12px 0 0;
}

.rounded-left-borders {
    border-radius: 12px 0 0 12px;
}

#user-image {
    max-width: 50px;
    border-radius: 50%;
}


main {
    background: #fff;
    border-radius: 12px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.text-and-info-section {
    color: var(--VeryDarkGrayishBlue);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

div.actual-text-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
}

h2.bold-text {
    line-height: 1.6;
    font-size: clamp(1rem, 4.4vw, 1.2rem);
}

p.discription, p.publish-date {
    font-size: clamp(0.8rem, 4vw, 1rem);
}

div.writer-info-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 20px 40px;
    border-radius: 0 0 12px 12px;
}

div.first-inner-container {
    display: flex;
    align-items: center;
    gap: 20px;
}


div.name-and-publish-date-container {
    position: relative;
}

p.writer-name {
    font-size: clamp(0.9rem, 4vw, 1.1rem);
}

div.mobile-links-inner-container {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.mobile-links-inner-container span {
    color: var(--GrayishBlue);
    letter-spacing: 3px;
}

div.mobile-links-inner-container img {
    width: 25px;
}

div.right-side-container {
    position: relative;
    display: grid;
    place-items: center;
}

div.desktop-links-inner-container {
    position: absolute;
    width: 250px;
    padding: 15px;
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--VeryDarkGrayishBlue);
    border-radius: 8px;
}

div.desktop-links-inner-container::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--VeryDarkGrayishBlue);
}

div.desktop-links-inner-container span {
    color: var(--GrayishBlue);
    letter-spacing: 3px;
}

div.desktop-links-inner-container img {
    width: 18px;
}

button.share-button {
    position: absolute;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background: var(--LightGrayishBlue);
}

button.share-button img {
    width: 20px;
}

button.share-button:active {
    background: var(--VeryDarkGrayishBlue)
}

.dark-background {
    background: var(--VeryDarkGrayishBlue);
}

div.hidden {
    display: none;
}

footer.attribution {
    position: relative;
    margin-top: 200px;
}

@media (min-width: 600px) {
    main {
        flex-direction: row;
    }
    #drawers-image {
        min-width: 300px;
        align-self: stretch;
    }
}